.App {
  text-align: center;
  background-color: #E8DED1;
}

.navbar{
  padding: 25px 50px 75px 50px;
  text-align: center;
}

.navName{
  font-size: 40px;
  color: rgb(69, 45, 16);
  padding: 10px;
  /* font-weight: bold; */
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  
  /* padding: 0px 50px 50px 50px; */

  /* Cool Swiping Motion */
  background: linear-gradient(to right, rgb(27, 18, 6),rgb(49, 32, 11) 50%, rgb(69, 45, 16)50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
      background-position: 0 100%;
    }
}

.navButtons{
  display: grid;
  align-items: left; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
.leftbuttons{
  text-align: left;
}
.rightbuttons{
  text-align: right;
  font-size: 25px;
  font-weight: bold;

  background: linear-gradient(to right, rgb(27, 18, 6),rgb(49, 32, 11) 50%, rgb(69, 45, 16)50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
      background-position: 0 100%;
    }
}
.github{
  text-decoration:none;
  color:inherit;
  font-size: 30pt;
  
}

li{
  position: relative;
  background-color:#E8DED1;
  overflow: hidden;
  display: flex;
  justify-content:center;
  /* top: 70px; */
  white-space: nowrap;
  display: inline;
}

li a{
  /* float: left; */
  color: rgb(69, 45, 16);
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;


  background: linear-gradient(to right, rgb(27, 18, 6),rgb(49, 32, 11) 50%, rgb(69, 45, 16)50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
      background-position: 0 100%;
    }
}

@media screen and (max-width: 600px) {
  .topnav a{
    float: none;
    display: block;
  }

}
 
.background{
  background-color: #E8DED1;
}

.App-header {
  background-color: #E8DED1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(69, 45, 16);
}

.App-link {
  color: #61dafb;
}

